:root {
    --eg-font:'Niramit', sans-serif;
    --ct-font:'Noto Sans TC', sans-serif;
    
    --eg-h2fs:72PX;
    --h1-fs:32px;
    --h2-fs:28px;
    --h2-24-fs:24px;    
    --h3-fs:18px;
    --text-fs:15px; 
    --number-bar-fs:14px;

    --base:#FFF9F0;
    --main-text:rgba(68, 81, 75, 1);
    --intro-color:#D5AD78;
    --eg-font-color:rgb(213, 173, 120, 0.28);
    --star-color:#FFC800;
    --small-text-color:#CCC9AB;
    --text-color:#303030;

    --color1:#725747;
    --color2:#7A8C88;
    --bnt-color:#555f53;
    --base2:#ccc6be;
}

body{
    font-family: 'Niramit','Noto Sans TC';
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: auto;
}

/* ========首頁======== */
.ct-title{
    font-size: var(--h2-fs);
    color:var(--main-text);
    font-weight: 500;
}

.eg-title{
    font-family:var(--eg-font);
    font-size: 72PX;
    color: var(--eg-font-color);
}

/* =======hover icon 圖片效果========= */
.go-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.go-icon span{
    font-size: 50px;
    color: #fff;

    font-variation-settings:
    'wght' 200;
    opacity: 0;
    transition: opacity 1s;
}

.blog-card:hover .go-icon span,
.search-pic-text:hover .go-icon span{
    opacity: 1;
    font-variation-settings:
    'FILL' 1;
}

.search-pic-text:hover img{
    filter: brightness(70%);
}

/* ========卡片光影========= */
/* .cards>.card::before {
    display: block;
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: linear-gradient(226deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 35%, rgba(255,255,255,0.1) 42%, rgba(255,255,255,0) 60%);
    transform: translateY(-30%);
    transition: transform .65s cubic-bezier(0.18, 0.9, 0.58, 1);
    opacity: 0;
  }

  .cards .card:hover::before {
    transform: translateY(0%);
    opacity: 1;
  } */
