/* ========main header========= */

.main-header{
    width: 100%;
    background-color:rgba(255, 255, 255, 0.44);
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-bar{    
    max-width: 1200px;
    margin:auto;
    display: flex;
    justify-content:flex-start;
    margin: auto;
    padding: 10px 0;
}

.logo{
    width: 130px;
    height: 40px;
    margin-top: 13px;;
}

.logo img {
    width: 100%;
    vertical-align: top;
}
.main-nav > li{
    position: relative;
}

.main-nav > li:hover ul {
    display: block;
}

.main-nav .tit,
.login{
    display: block;
    padding: 10px;
    font-weight: 500;
    font-size: 22px;
    list-style: none;
    color: rgba(68, 81, 75, 1);
    transform: translateY(0px);
    transition: .3s;
}

.main-nav ul {
    position: absolute;
    display: none;
    top: 100%;
    background: rgba(255, 249, 241, 0.57);
    width: 110px;
}

.main-nav ul li {
    padding: 10px;
    text-align: center;
}

.main-nav ul a {
    color: var(--main-text); 
}

.main-nav .tit:hover,
.main-nav ul li:hover,
.login:hover{
    transform: translateY(-4px);
}

.main-nav .tit:after{
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -6px;
    height: 0;
    border-bottom: 1px solid var(--intro-color);
    transition: .3s;
}

.main-header .main-nav .tit:hover:after{
    left: 1em;
    right: 1em;
}

#menu-switch{
    display: none;
}

.login span{
    color: var(--main-text);
}

@media screen and (max-width:767px) {
    .nav-bar{
        margin: 10px;
    }

    .logo{
        margin: auto;
        order: 1;
    }

    .login{
        order: 2;
    }

    .hb{
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:flex-start;
        position: relative;
        cursor: pointer;
    }

    .hb span{
        width: 32px;
        height: 2px;
        background-color: var(--main-text);
        transition:all 0.2s ease-in-out;
    }

    .hb span:nth-child(2){
        width: 22px;
    }

    .hb span:nth-child(3){
        width: 27px;
    }

    .hb:hover span{
        width: 42px;
        background-color: var(--base2);
    }

    .hb:hover span:nth-child(2){
        width: 27px;
    }
        
    .hb:hover span:nth-child(3){
        width: 32px;
    }

    .main-nav{
        /* text-align: center; */
        position: absolute;
        background-color: var(--base);
        width: 100%;
        left: -100%;
        top: 100%;
        opacity: 0;
        transition: opacity 1s 0s,
                    left 0s 1s;
    }

    .main-nav li{
        text-align:center;
    }

    .main-nav ul{
        position: relative;
        margin: auto;
    }

    #menu-switch:checked + .main-header .main-nav{
    left: 0;
    opacity: 1;
    transition: opacity 1s;
    }

    #menu-switch:checked + .main-header .hb span:nth-child(2){
        display: none;
    }

    #menu-switch:checked + .main-header .hb span:nth-child(1){
        width: 32px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transform: rotate(45deg);
        
    }

    #menu-switch:checked + .main-header .hb span:nth-child(3){
        width: 32px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transform: rotate(-45deg);
    }
}


@media screen and (min-width:768px) {
    .hb{display: none;}
    .main-nav,
    .login{
        display: flex;
        width: fit-content;
        margin-top: 5px;
        margin-left: 20px;
    }            
}


/* ===========footer =========*/
.main-footer{
    margin-top:200px;
    padding: 50px 0 0;
    background:var(--base);
}

.main-footer .container{
    padding: 0 15px;
}

.footer-group{
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 30px;
    justify-items: center; */
}
/* .footer-item{
    align-content: center;
    margin-left: auto;
    margin-right: auto; 
} */

.footer-item .footer-header{
    display:flex;
    flex-direction:column;
    font-size: 15px;

    font-weight: 400;
    color: var(--intro-color);
    line-height: 1.5;
    padding-bottom: 15px;
}

.footer-item .footer-list{
    display: flex;
    flex-direction: column;
}

.footer-list a{
    /* font-family:'Noto Sans TC', sans-serif; */
    font-weight:200;
    color:var(--text-color);
    letter-spacing: 0.75px;
    line-height: 1.5;
    font-size: 12px;
    padding-bottom: 20px;
}

.footer-social{
    /* display: flex; */
    width:fit-content;
    font-size: 22px;
    margin-left: auto;

}
.footer-social a{
    font-size: 28px;
    color: var(--intro-color);
    margin-left: 15px;
}
.copyright{
    width: 100%;
    background-color:var(--color1);
    text-align: center;
    /* margin:50px 0 0; */
    padding: 15px 0px;
    color: var(--intro-color);
}
    
    