/* search-restaurant banner */
.banner{
    height: 400px;
    background-image: url(./pic/101.jpg);
    background-attachment:scroll;
    background-position: center;
    background-size: cover;

}
@media(max-width: 768px) {
    .banner{
        height: 300px;
    }
}



/*======== .search-city ========*/
body{
    background-color: #fff8df;
}
.search-city {
    text-align: center;
    margin: auto;
    margin-top: -165px;
}

@media(max-width: 500px) {
    .search-city {
        margin-top:-130px
    }
}

.search-city .search-bar {
    font-size: 22px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.14);
    display: inline-flex;
    align-items: center;
    min-height: 72px;
    padding: 0 85px;
    border-radius: 40px;
    z-index: 12;
    cursor: pointer;
    font-weight: 300
}

@media(max-width: 500px) {
    .search-city .search-bar {
        font-size:16px;
        padding: 0 60px;
        min-height: 46px
    }
}

.search-city .search-bar .city-name:before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image:url(/pic/location-white-icon.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50%;
    position: absolute;
    left: -35px;
    top: 49%;
    transform: translateY(-50%);

}

@media(max-width: 500px) {
    .search-city .search-bar .city-name:before {
        width:18px;
        height: 18px;
        left: -30px
    }
}

.search-city .search-bar .city-name:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(/pic/down-white-arrow.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50%;
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%)
}

@media(max-width: 500px) {
    .search-city .search-bar .city-name:after {
        width:15px;
        height: 15px;
        right: -28px
    }
}

.search-city .search-bar span { 
    color: #fff;
    vertical-align: middle
}


/* 搜尋種類篩選 filter */
.filter {
    width: 88%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-bottom: 80px
}

@media(max-width: 500px) {
    .filter {
        width:90%
    }
}

.filter h2 {
    text-align: center;
    margin: 16px 0
}

@media screen and (max-width: 768px) {
    .filter h2 {
        margin:24px 0
    }
}


/* 搜尋美食種類 */

.filter .search-type {
    margin: 0 auto;
    text-align: center;
    position: relative
}

/* 種類slider篩選 */
.type-slider {
    max-width: 760px;
    margin: 20px auto 30px;
    padding: 0 30px;
    overflow: hidden;
    white-space: nowrap
}

@media(max-width: 768px) {
    .type-slider {
        padding:0 1%
    }
}

@media(max-width: 500px) {
    .type-slider {
        padding: 0 2%;
        margin: 0 auto 12px
    }
    .next-arrow{
        display: none;
    }
}

.type-slider .scrollParent {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 1%
}

@media(max-width: 768px) {
    .type-slider .scrollParent {
        padding:0
    }
}

.type-slider .next-btn,.type-slider .pre-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 110px;
    height: 130px;
    z-index: 1;
    display: none
}

.type-slider .pre-btn {
    left: 0;
    background-image: linear-gradient(90deg,#fff8df, #fff8df09)
}

.type-slider .next-btn {
    right: 0;
    background-image: linear-gradient(270deg,#fff8df, #fff8df09)
}

.type-slider .pre-arrow,.type-slider .next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    cursor: pointer
}

.type-slider .pre-arrow:after,.type-slider .pre-arrow:before,.type-slider .next-arrow:after,.type-slider .next-arrow:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #5c5c5c
}

.type-slider .pre-arrow:before,.type-slider .next-arrow:before {
    transform: rotate(45deg)
}

.type-slider .pre-arrow:after,.type-slider .next-arrow:after {
    transform: rotate(-45deg)
}

.type-slider .pre-arrow {
    left: 0
}

.type-slider .pre-arrow:before {
    bottom: 1.5px
}

.type-slider .pre-arrow:after {
    top: 1.5px
}

.type-slider .next-arrow {
    right: 0
}

.type-slider .next-arrow:before {
    top: 1.5px
}

@media(max-width: 500px) {
    .type-slider .next-arrow:before {
        top:1px
    }
}

.type-slider .next-arrow:after {
    bottom: 1.5px
}

@media(max-width: 500px) {
    .type-slider .next-arrow:after {
        bottom:1px
    }
}

.type-slider .scroll-child {
    display: inline-block;
    background-color: #ffe5cd;
    padding: 10px 15px;
    font-size: 18px;
    color: #5c5c5c;
    margin-right: 8px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer
}

.type-slider .scroll-child:last-child {
    margin-right: 0
}

@media(max-width: 500px) {
    .type-slider .scroll-child {
        font-size:14px;
        padding: 8px 13px
    }
}

/* type-bar */
.type-bar {
    width: 100%;
    max-width: 940px;
    margin-top: 50px;
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
    background: #fff;
    border-radius: 100px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
    cursor: pointer
}

@media(max-width: 500px) {
    .type-bar {
        width:110%;
        margin-left: -5%;
        margin-top: 40px;
        transform: scale(.9)
    }
}

/* close-icon */
.type-bar input+.close-icon {
    opacity: 1
}

.type-bar .search-icon {
    height: 20px;
    width: 20px;
    object-fit: contain;
    transition-duration: .3s;
    cursor: pointer;
    background-image: url(/pic/search-icon.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 15px;
    z-index: 1
}

@media(max-width: 500px) {
    .type-bar .search-icon {
        height: 20px;
        width:20px;
        /* background-position: 0 -24px; */
        /* background-size: 43px auto; */
        /* left: 16px */
    }
    
}

.type-bar input {
    padding: 26px 110px 26px 50px;
    font-weight: 300;
    width: 100%;
    background-color: #fff!important;
    border-radius: 100px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid transparent;
    appearance: none;
    outline: none
}

@media(max-width: 500px) {
    .type-bar input {
        padding:18px 80px 18px 50px;
        font-size: 16px
    }
}

.type-bar input:-ms-clear {
    width: 0;
    height: 0
}

.type-bar input:-webkit-autofill,.type-bar input:focus:-webkit-autofill {
    box-shadow: 0 0 0 100px #fff inset
}

.type-bar input[type=text]::-webkit-search-cancel-button {
    appearance: none
}

.type-bar .go-search {
    position: absolute;
    right: 35px;
    color: #d5ad78;
    font-size: 18px;
    font-weight: 400
}

@media(max-width: 500px) {
    .type-bar .go-search {
        font-size:16px;
        right: 15px
    }
}

.search-text input {
    padding-right: 135px
}

@media(max-width: 500px) {
    .search-text input {
        padding-right:102px
    }
}

.search-text .close-icon {
    right: 103px
}

@media(max-width: 500px) {
    .search-text .close-icon {
        right:75px
    }
}

.close-icon {
    opacity: 0;
    height: 28px;
    width: 28px;
    border-right: 1px solid hsla(0,0%,75.7%,.8);
    transform: translateY(-50%);
    transition-duration: .3s;
    cursor: pointer;
    position: absolute;
    right: 80px;
    top: 50%;
    background-image: url(/pic/button_clear.png);
    background-size: 18px auto;
    background-repeat: no-repeat;
    background-position: 0
}

@media(max-width: 500px) {
    .close-icon {
        height:23px;
        width: 25px;
        right: 50px
    }
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #5c5c5c;
    position: relative;
}

body {
    width: 100%;
    overflow-x: hidden
}

h1 {
    margin: 16px 0;
    font-size: 30px;
    letter-spacing: 4px
}

@media screen and (max-width: 768px) {
    h1 {
        font-size:24px;
        letter-spacing: 2px
    }
}

h2 {
    margin: 16px 0;
    font-size: 27px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 6px
}

@media screen and (max-width: 768px) {
    h2 {
        font-size:20px;
        letter-spacing: 3px
    }
}

h3 {
    margin: 16px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 1px
}

@media screen and (max-width: 768px) {
    h3 {
        font-size:15px;
        line-height: 26px;
        font-weight: 500
    }
}

p {
    line-height: 24px;
    letter-spacing: 1px!important;
    color: #5c5c5c
}

input[type=text]:focus {
    outline: none
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: 0 0
}

::placeholder {
    color: #b4b4b4;
    opacity: 1;
    font-weight: 300
}


/* 搜尋結果 */
.restaurant{
    max-width: 900px;
    margin: auto;
}

.cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.cards .card{
    width: 30%;
    margin-bottom:40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 5px var(--small-text-color);
    position: relative;
}

@media screen and (max-width: 1200px) {

    .restaurant{
        max-width: 700px;
    }

    .cards .card{
        width: 45%;
    }

}

@media screen and (max-width: 768px) {

    .restaurant{
        max-width: 500px;
    }

    .cards .card{
        height: 50wh;
        width: 90%;
        margin: auto;
        margin-bottom: 10%;
    }

}


.card .pic{
    width: 100%;
    height: 240px;
}

.card .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 10px 10px 0 0;
}

.card .text{
    font-size: var(--h3-fs);
    color: var(--main-text);
    padding: 15px 10px;
}

.card .rest-name{
    margin-bottom: 10px;
}

.card .rest-adress{
    font-size: var(--text-fs);
    color:#888;
}


.type-restaurant .number-bar{
    text-align: center;
    margin-top: 50px;

}

.type-restaurant .number-bar a{
    text-decoration: none;
    font-family: var(--ct-font);
    font-size: var(--number-bar-fs);
    color: var(--small-text-color);
    padding: 10px;
}

.type-restaurant .number-bar a:hover{
    color: var(--bnt-color);
}
